.principal {
  background-color: #ddd;
  width: 900px;
  /* distancia da parte externa do objetos ou elementos */
  /* normalmente os elementos flutuam à esquerda */
  /* passando apenas um parâmetro, este será aplicado para
   left, right, top e bottom */
  /* passando auto o elemento vai ficar centralizado */
  margin: auto;
  /* distancia da parte interna do objeto ou elemento*/
  /* modifica o tamanho da box e os cálculos devem ser feitos
  para evitar que o layout quebre */
  padding: 30px;
}

section {
  background-color: #fff;
  width: 750px;
  margin: auto;
  padding: 50px;
  box-sizing: border-box;
}
