* {
  /* reseta o margin e padding */
  margin: 0; 
  padding: 0;
}

.container {
  background-color: #bbb;
  width: 70%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

img {
  width: 100%;
  height: auto;
}

figure {
  width: 30%;
  height: auto;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.titulo {
  font-size: 25px;
}