.container {
  background-color: #bbb;
  width: 70%;
  height: auto;
  margin: auto;
}

img {
  width: 300px;
}

figure {
  width: 300px;
  height: auto;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
}

.titulo {
  font-size: 25px;
}