* { /* regras pra todo o documento */
  margin: 0; /* margem externa */
  padding: 0; /* margem interna */
  font-family: Arial; 
}

.principal { /* seleciona a class "principal" */
  background-color: #ccc; /* cor de fundo da classe */
  width: 900px; /* largura da classe */
  margin: auto; /* margem externa da classe */
  margin-top: 20px; /* margem do topo */
  padding: 10px; /* margem interna da classe */
}

